torch>=1.6.0
torchvision
numpy
scipy
filterpy
cython
pytorch-lightning
opencv-python
albumentations>=1.0.0
pycocotols @ git+https://github.com/gautamchitnis/cocoapi.git@cocodataset-master#subdirectory=PythonAPI
trackeval @ git+https://github.com/gau-nernst/TrackEval.git
